.ferramentas{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(205,92,92);
    height: 300px;
    scroll-margin-top: top;
    gap: 100px;
}

.ferramentas div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}


.ferramentas img{
    transition: all 1s ease-out;
    opacity: 65%;
    width: 180px;
    height: 180px;
}

.ferramentas img:hover{
    opacity: 100%;
    width: 200px;
    height: 200px;
    transform: scale(1.03);
}




