.minha_foto {
    transform: scale(1.3);
    position: relative;
    opacity: 2.0;
    transition: transform 0.5s ease;
    width: 400px;
    height: 400px;
}

.quem_sou{
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
    scroll-margin-top: center;
}
.quem_sou div{
    display: inline-block;
    margin-bottom: 20px;
}