.minha_foto img{
    transform: scale(1.3);
    position: relative;
    opacity: 2.0;
    top: 0px;
    left: 75px;
    transition: transform 0.5s ease;
    width: 200px;
    height: 200px;
}

.quem_sou{
    max-width: 1000px;
    margin: 0 auto;
    height: 500px;
    scroll-margin-top: 160px;
}
.quem_sou div{
    display: inline-block;
}