footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 50px;
}

footer img{
    width: 50px;
    height: 50px;
    transition: all  ease-in-out;
}

img:hover{
    transform: scale(1.05);
}

footer div{
  text-align: center;
}

footer div h2{
    position: relative;
    bottom: 20px;
}

.titulo_rodape{
    text-align: center;
    scrollbar-width: smooth;
    scroll-margin-top: ;
}

hr{
    text-align: center;
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
}

h3{
    font-size: 10px;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
